# -----------------------------
# Gradle
# -----------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/
**/out/

# -----------------------------
# Kotlin Multiplatform & Compose
# -----------------------------
bin/
*.iml
*.ipr
*.iws
*.hprof
*.DS_Store

# Compose multiplatform artifacts
*.db-journal
*.db-wal
*.db-shm

# -----------------------------
# Android
# -----------------------------
*.apk
*.ap_
*.aab
.cxx/
.externalNativeBuild/
captures/
output.json

# NDK
obj/
*.so

# Keystore
*.jks
*.keystore
*.pem
*.key

# Signing config
signing.properties
local.properties

# -----------------------------
# IDE & System
# -----------------------------
*.swp
*.swo
*.bak
*.tmp
*.orig
.vscode/
.idea/
*.class
*.kotlin_module
*.log

# JetBrains Rider
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/.name
.idea/**/gradle.xml
.idea/**/libraries
.idea/caches/
.idea/modules.xml

# -----------------------------
# OS-specific
# -----------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# -----------------------------
# Tooling / Misc
# -----------------------------
# Kotlin compile outputs
*.jar
*.war
*.ear

# Test reports
test-results/
test-output/
*.test

# Database (dev/local)
*.mv.db
*.h2.db
*.db

# dotenv
.env
.env.*
!.env.example

# Swagger/OpenAPI
openapi.json
documentation.yaml
/composeApp/build
*.properties
/composeApp/docs/.swagger-codegen-ignore
